[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pep8 = "*"
autopep8 = "*"
pytest = "*"

[packages]
click = "*"
requests = "*"

[requires]
python_version = "3.7"
